.background-page{
    background-color: #0e1015;
    background-image: linear-gradient(rgb(44, 221, 203) 1px, transparent 1px), linear-gradient(90deg, rgb(44, 221, 203) 1px, transparent 1px);
    background-size: 60px 60px;
}

.text-jetbrains{
    font-family: "JetBrains Mono", monospace;
}

.navbar{
    display: flex;
    background-color: #0e1015;
    height: 70px;
    border-bottom: 1px solid #23282f;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
}

.link-home{
    color: #2cddcb;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

}

.link-section{
    color: inherit;      
    text-decoration: none;
    padding: 0 0 0 15px;
}

.link-section :hover{
    color: #2cddcb;
}

.number-section{
    font-size: 14px;
    color: #2cddcb;
    margin-right: 10px;
}

.label-section{
    color: #6E7D91;
    font-size: 15px;
}

#home{
    background-color: #0e1015;
    opacity: 0.9;
}

#about-me {
    padding: 40px 0;
    background-color: #0e1015;
}

#skills {
    padding: 40px 0;
    background-color: #101318;
}

#experience {
    padding: 40px 0;
    background-color: #0e1015;
}

.font-24{
    font-size: 24px;
}

.number{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -1px;
}

.title{
    color: #FFF;
}

#contact{
    padding: 40px 0;
    background-color: #101318;
}

.btn-contact-link.git:hover svg path, 
.btn-contact-link.linkedin:hover svg path,
.btn-contact-link.email:hover svg path{
    stroke: #2cddcb;
}

.btn-contact-link img,
.btn-contact-link svg {
    transition: transform 0.3s ease;
}

.btn-contact-link:hover img,
.btn-contact-link:hover svg {
    transform: translateY(-5px);
}

.btn-send{
    margin-top: 15px;
    border-color: #2cddcb;
    width: 160px;
    height: 50px;
    box-shadow:
        0 0 6px rgba(44, 221, 203, 0.1),
        0 0 12px rgba(44, 221, 203, 0.1),
        0 0 18px rgba(44, 221, 203, 0.2);
}

.btn-send:hover{
    background: rgba(44, 221, 203, 0.2);
}

.info-developed{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e1015;
    height: 70px;
    color: #6E7D91;
    border-top: 1px solid #23282f;
}

.info-developed p{
    margin: 0;
    font-size: 14px;
}

.color-green{
    color: #2cddcb;
}

.color-white{
    color: #FFF;
}

.text-gray{
    color: #6E7D91;
}

.pad-top{
    padding-top: 15px;
}

.text-contact{
    width: 50vw;
    padding-top: 15px;
    display: flex;
    text-align: center;
}

.divWeb{
    display: none;
}

.d-flex{
    display: flex;
}

hr {
    width: 100%;
    height: 5px;
    border-top: 1px solid #FFF;
}

h2 {
    white-space: nowrap;
}

@media (min-width: 900px) {
    .divWeb {
        display: block;
    }
}